<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coldplay</key>
	<dict>
		<key>Was founded</key>
		<dict>
			<key>position</key>
			<integer>1</integer>
			<key>url</key>
			<string>https://en.wikipedia.org/wiki/Coldplay</string>
		</dict>
		<key>Released Song &quot;Yellow&quot;</key>
		<dict>
			<key>position</key>
			<integer>2</integer>
			<key>url</key>
			<string>https://en.wikipedia.org/wiki/Coldplay</string>
		</dict>
		<key>Released Albulm &quot;A Rush Of Blood To The Head&quot;</key>
		<dict>
			<key>position</key>
			<integer>3</integer>
			<key>url</key>
			<string>https://en.wikipedia.org/wiki/Coldplay</string>
		</dict>
		<key>Played the Super Bowl Halftime Show</key>
		<dict>
			<key>position</key>
			<integer>4</integer>
			<key>url</key>
			<string>https://en.wikipedia.org/wiki/Coldplay</string>
		</dict>
	</dict>
	<key>radiohead</key>
	<dict>
		<key>Was Founded</key>
		<dict>
			<key>position</key>
			<integer>1</integer>
			<key>url</key>
			<string>https://en.wikipedia.org/wiki/Radiohead</string>
		</dict>
		<key>Released Song &quot;Creep&quot;</key>
		<dict>
			<key>position</key>
			<integer>2</integer>
			<key>url</key>
			<string>https://en.wikipedia.org/wiki/Radiohead</string>
		</dict>
		<key>Released Albulm &quot;Ok Computer&quot;</key>
		<dict>
			<key>position</key>
			<integer>3</integer>
			<key>url</key>
			<string>https://en.wikipedia.org/wiki/Radiohead</string>
		</dict>
		<key>Inducted into the Rock &amp; Roll Hall of Fame</key>
		<dict>
			<key>position</key>
			<integer>4</integer>
			<key>url</key>
			<string>https://en.wikipedia.org/wiki/Radiohead</string>
		</dict>
	</dict>
	<key>muse</key>
	<dict>
		<key>Band was founded</key>
		<dict>
			<key>position</key>
			<integer>1</integer>
			<key>url</key>
			<string>https://en.wikipedia.org/wiki/Muse_(band)</string>
		</dict>
		<key>Released Song &quot;Starlight&quot;</key>
		<dict>
			<key>position</key>
			<integer>2</integer>
			<key>url</key>
			<string>https://en.wikipedia.org/wiki/Black_Holes_and_Revelations</string>
		</dict>
		<key>Released Song &quot;Uprising&quot;</key>
		<dict>
			<key>position</key>
			<integer>3</integer>
			<key>url</key>
			<string>https://en.wikipedia.org/wiki/The_Resistance_(album)</string>
		</dict>
		<key>Played at the London Olympics</key>
		<dict>
			<key>position</key>
			<integer>4</integer>
			<key>url</key>
			<string>https://en.wikipedia.org/wiki/Exogenesis:_Symphony#Live_performances</string>
		</dict>
	</dict>
</dict>
</plist>
